[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pandas = "*"
plotly = "*"
dash = "*"
alembic = "*"
flask-migrate = "*"
# mysqldb = "*"
# mysql-connector = "*"
# mysql-python = "*"
mysql = "*"

[requires]
python_version = "3.7"
