<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <title>Cruitathon</title>
</head>
<body>
    {% if team_selected %}
        <h1>{{team_selected}}</h1>
    {% else %}
        <h1>Cruitathon Home Page</h1>
    {% endif %}
    {% if plot %}
    <div class="chart" id="bargraph">
        <script>
            var graphs = {{plot | safe}};
            Plotly.plot('bargraph',graphs,{});
        </script>
    </div>
    {% endif %}
    <!-- <p>blah blah</p> -->
    <!-- <p>{{a}}</p> -->
    {% if a %}
        <p>{{a}}</p>
        <!-- <table>
            <thead></thead>
            <tbody>
                t
            </tbody>
        </table> -->
    {% endif %}
    <form action="/submit" method="POST">
        <select name="team_selected" id="team_dropdown">
            <option></option>
            {% for team in teams %}
                <option>{{team}}</option>
            {% endfor %}
        </select>
        <input type="submit">    
    </form>
    {% if not team_data.empty %}
    <table>
        <tr>
            <th>Commit</th>
            <th>Position</th>
        </tr>
        {% for key, row in team_data.iterrows() %}
            <tr>
                <td>{{row['name']}}</td>
                <td>{{row['position']}}</td>
                <!-- {% for commit in commit_list %}
                    <td>{{commit}}</td>
                {% endfor %}
                {% for position in position_list %}
                    <td>{{position}}</td>
                {% endfor %} -->
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h3>Distribution of {{team_selected}} Commits with Offers from:</h3>
    <table>
        <tr>
            <th>Competition Offers</th>
            <th>Count</th>
        </tr>
    {% for row in competition_results %}
        <tr>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
    {% endfor %}
    </table>
    
    <ul>

    </ul>
    
</body>
</html>