<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/style.css" rel="stylesheet">
        <title>{{team_selected}} - Cruitathon</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1><a href="{{url_for('index')}}">Cruitathon</a>
        </h1>
        <!-- <p>Using college football data visualization to prove that my team is better than yours</p> 
        <input type="text" class="form-control form-control-lg" placeholder="Team Name..." data-reactid="29"> -->
    </div>
    <div>
        <h1>{{team_selected}}</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                {% if posplot %}
                <div class="chart" id="position_pie">
                    <script>
                        var pos_graphs = {{posplot | safe}};
                        var layout = {
                            title: '{{team_selected}} Commits by Position',
                        }
                        Plotly.plot('position_pie',pos_graphs,layout);
                    </script>
                </div>
                {% endif %}
            </div>
            
            <div class="col-xl-6">
                {% if stateplot %}
                <div class="chart" id="state_pie">
                    <script>
                        var state_graphs = {{stateplot | safe}};
                        var layout = {
                            title: '{{team_selected}} Commits by Home State',
                        }
                        Plotly.plot('state_pie',state_graphs,layout);
                    </script>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    
</body>
</html>